/* ===========================================PAGINATION=========================================== */
.pagination {
	width: 100%;
	padding: 0 1rem;
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	
	&:not(:has(.page-btn:target)) {
		.page-step[data-shown="1"] {
			display: inline-flex;
		}
	}
}

.page-btn {
	color: #000000;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.25rem;
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	
	&:last-child {
		margin-right: 0;
	}

	&:is(a) {
		text-decoration: none;
		background-color: #ffffff;
		border-radius: 50%;
		cursor: pointer;
		transition: color 128ms ease-out, background-color 128ms ease-out;
		
	}
}

.page-num {
	display: none;
}

.page-step {
	display: none;
}